/* Badge */
.badge {
    align-items: center;
    border: solid;
    border-color: var(--gold-light);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    font-family: 'Space Mono', monospace;
    justify-content: space-between;
    max-width: 10em;
    min-width: 10em;
}

.badge-container {
    display: flex;
}

.badge-icon {
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
}

/* Banner*/
.banner {
    align-self: flex-start;
}

.banner>.logo {
    font-size: 4rem;
}

/* Code */
.code-block {
    font-size: x-large;
    border: var(--purple-light) 1px solid;
    border-radius: 8px;
    box-shadow: 10px 8px 8px var(--shadow);
    padding: 20px;
}

.code-snippet {
    font-size: medium;
}

/* Footer */
.footer-container {
    display: flex;
    /*gap: 2em;*/
    justify-content: center;
    text-align: center;
}

/* Heading */
.heading {
    margin-bottom: 24px;
}

.heading+.heading {
    margin-top: 48px;
}

.heading+.section {
    padding-left: 36px;
}

/* Link */
.link {
    width: 400px;
    color: var(--text-color);
    border: var(--purple-light) 1px solid;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.link a {
    margin-top: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
}

.link a:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

/* Listing */
.listing {
    display: flex;
    color: var(--purple-light);
    justify-content: space-between;
}

/* Logo */
.logo {
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

/* Markdown */
.md {
    padding-left: 248px;
}

.md-code {
    background-color: #1C1C1C;
}

.md-code-block {
    background-color: #1C1C1C;
}

/* Menu */
.menu {
    border-right: var(--purple-light) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 200px;
    padding: 4px;
    position: fixed;
    top: 180px;
    left: 32px;
}

.menu>a {
    color: var(--text-color);
    text-decoration: none;
}

.menu>a:hover {
    color: var(--gold);
}

.menu-main {
    font-size: 32px;
    padding: 2px;
}

.menu-sub {
    font-size: 24px;
    padding: 4px;
}


/* Navbar */
.nav-bar {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1.8em;
}

.nav-link {
    padding-bottom: 6px;
    position: relative;
    width: max-content;
}

.nav-link a {
    color: var(--text-color);
    font-size: 32px;
    margin-right: 8px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-link>[aria-current="page"] {
    color: var(--purple);
    pointer-events: none;
}

.nav-link a:hover {
    cursor: pointer;
    color: var(--gold-light);
}

/* Post */
.post-content {
    display: flex;
    justify-content: space-evenly;
}

.post-content>article {
    flex: 1.5;
}

/* Search */
.search {
    background-color: var(--bg-color);
    border: 2px solid var(--gold);
    border-radius: 8px;
    color: var(--gold-light);
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    height: 2rem;
}

.search:focus-visible {
    outline: none;
    outline-color: var(--bg-color);
}

.search-group {
    position: relative;
    width: max-content;
}

.search-label {
    background-color: var(--bg-color);
    color: var(--gold);
    user-select: none;
    top: -1rem;
    left: 1rem;
    height: min-content;
    padding: 4px;
    position: absolute;
    width: min-content;
    z-index: 1;
}

/* Set */
.set-board {
    display: grid;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.set-card {
    align-items: center;
    border: solid;
    border-color: white;
    border-radius: 0.5rem;
    display: flex;
    font-family: 'Courier';
    font-weight: bolder;
    justify-content: center;
    padding: 0.25rem;
    user-select: none;
    width: 100%;
    white-space: pre;
}

.set-card.selected {
    background-color: var(--selection);
}

div.set-card:hover {
    background-color: var(--selection);
}

div.set-card.blank:hov {
    background-color: var(--bg-color);
}


.set-difficulty-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.set-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.set-score {
    display: flex;
}

.text-blue {
    color: var(--blue);
}

.text-blue-light {
    color: var(--blue-light)
}

.text-purple {
    color: var(--purple);
}

.text-purple-light {
    color: var(--purple-light);
}

.text-gold {
    color: var(--gold);
}

.text-gold-light {
    color: var(--gold-light);
}
