:root {
    --base-color: #FFFFFF;
    --bg-color: #1C1C1C;
    --bg-color-dark: #515151;

    --selection: #565656;

    --blue: #5387B5;
    --blue-light: #63A2D8;

    --gold: #DBA453;
    --gold-light: #FFCC84;

    --purple: #8484FF;
    --purple-light: #BEBAFF;

    --shadow: #000000;

    --prm-sec-gradient: linear-gradient(180deg, var(--purple) 35%, var(--gold) 90%);

    --header-height: 6rem;
}

a {
    text-decoration: none;
    color: var(--purple);
}

article {
    height: 100%;
}

/* Body */
body {
    background-color: var(--bg-color);
    color: var(--base-color);
    font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}

button {
    border: solid;
    border-width: 0.125rem;
    border-color: var(--purple);
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: white;
    font-size: 1rem;
}

button.selected {
    background-color: var(--selection);
    pointer-events: none;
}

button:hover {
    background-color: var(--purple-light);
    color: var(--bg-color);
}

/* Code */
code {
    color: var(--gold-light);
    white-space: pre;
}

footer {
    background-color: var(--bg-color);
    min-height: max-content;
    margin-top: auto;
    bottom: 0;
    position: sticky;
    width: 100%;
}

footer::before {
    background: var(--purple-light);
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Header */
h {
    color: var(--purple);
}

h1 {
    color: var(--purple-light);
    font-size: 3.2rem;
    scroll-margin-top: var(--header-height);
}

h2 {
    color: var(--purple-light);
    font-size: 3rem;
    scroll-margin-top: var(--header-height);
}

h3 {
    color: var(--purple-light);
    font-size: 2.8rem;
    scroll-margin-top: var(--header-height);
}

h4 {
    color: var(--purple-light);
    font-size: 2.4rem;
    scroll-margin-top: var(--header-height);
}

h5 {
    color: var(--purple-light);
    font-size: 2.2rem;
    scroll-margin-top: var(--header-height);
}

h6 {
    color: var(--purple-light);
    font-size: 2rem;
    scroll-margin-top: var(--header-height);
}

header {
    background-color: var(--bg-color);
    display: flex;
    min-height: var(--header-height);
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

header::after {
    background: var(--purple-light);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

main {
    flex: 1;
}

section {
    color: var(--base-color);
    font-size: 1.2rem;
}
