/* Code */
.code-block {
    font-size: x-large;
    border: var(--tertiary-color) 1px solid;
    border-radius: 8px;
    box-shadow: 10px 8px 8px var(--shadow);
    padding: 20px;
}

.code-snippet {
    font-size: medium;
}

.key-grid {
    gap: 8px;
    padding: 8px;
    width: min-content;
}

.key-grid-cell {
    border: var(--primary-color) 2px solid;
    border-radius: 8px;
    /*border-image: radial-gradient(var(--secondary-color) 35%, var(--primary-color) 90%);*/
    height: 2em;
    width: 2em;
}

.key-grid-row {
    display: flex;
    gap: 8px;
}

.key-listener {
    height: 100%;
}


/* Link */
.link {
    width: 400px;
    color: var(--secondary-color);
    border: var(--tertiary-color) 1px solid;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.link a {
    margin-top: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
}

.link a:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/* Listing */
.listing {
    color: var(--tertiary-color);

}

/* Markdown */

.md {
    padding-left: 248px;
}

.md-code {
    background-color: #1C1C1C;
}

.md-code-block {
    background-color: #1C1C1C;
}

/* Menu */

.menu {
    border-right: var(--primary-color) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 200px;
    position: fixed;
    padding: 4px;
    top: 180px;
    left: 32px;
}

.menu>a {
    color: var(--primary-color);
    text-decoration: none;
}

.menu-main {
    font-size: 32px;
    padding: 2px;
}

.menu-sub {
    font-size: 24px;
    padding: 4px;
}


/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: flex-end;
    position: fixed;
    right: 2em;
    top: 1em;
}

.navbar a {
    color: var(--secondary-color);
    font-size: 32px;
    padding-bottom: 6px;
    position: relative;
    text-decoration: none;
    transition: color 0.2s ease;
    width: max-content;
}

.navbar a::after {
    background: var(--tertiary-color);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.navbar a:hover {
    cursor: pointer;
    color: var(--primary-subcolor);
}

.search {
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-subcolor);
    position: relative;
    width: max-content;
}

.search:focus-visible {
    outline: inset;
    outline-color: var(--tertiary-color);
}

.search input::before {
    color: var(--primary-color);
    content: "Search";
    top: 0;
    left: 0;
    height: 4px;
    position: absolute;
    width: 100%;
}

.search-label {}

/* Section */
.title+.section {
    padding-left: 36px;
}

/* Titles and Headers */
.title {
    margin-bottom: 24px;
}

.title+.title {
    margin-top: 48px;
}
