/* Code */
.code-block {
    font-size: x-large;
    border: var(--tertiary-color) 1px solid;
    border-radius: 8px;
    box-shadow: 10px 8px 8px var(--shadow);
    padding: 20px;
}

.code-snippet {
    font-size: medium;
}

/* Link */
.link {
    width: 400px;
    color: var(--secondary-color);
    border: var(--tertiary-color) 1px solid;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.link a {
    margin-top: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
}

.link a:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/* Listing */
.listing {
    color: var(--tertiary-color);

}

/* Markdown */

.md {
    justify-content: center;
    padding-left: 248;
}

.md-code {
    background-color: #1C1C1C;
}

.md-code-block {
    background-color: #1C1C1C;
}

/* Menu */

.menu {
    position: fixed;
    top: 180px;
    left: 32px;
}

.menu>a {
    text-decoration: none;
    color: var(--primary-color)
}

.menu-item {
    padding: 2px;
}

.menu-sub-item {
    padding: 4px;
}


/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    gap: 64px;
    position: fixed;
}

.navbar a {
    color: var(--secondary-color);
    border: var(--tertiary-color) 2px solid;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover {
    cursor: pointer;
    color: var(--primary-subcolor);
}

/* Section */
.title+.section {
    padding-left: 36px;
}

/* Titles and Headers */
.title {
    margin-bottom: 24px;
}

.title+.title {
    margin-top: 48px;
}
