/* Code */
.code-block {
    font-size: x-large;
    border: var(--purple-light) 1px solid;
    border-radius: 8px;
    box-shadow: 10px 8px 8px var(--shadow);
    padding: 20px;
}

.code-snippet {
    font-size: medium;
}

.key-grid {
    gap: 8px;
    padding: 8px;
    width: min-content;
}

.key-grid-cell {
    border: var(--gold) 2px solid;
    border-radius: 8px;
    height: 2em;
    width: 2em;
}

.key-grid-cell.grid-active {
    background-color: var(--purple);
}

.key-grid-row {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.key-listener {
    height: 100%;
}


/* Link */
.link {
    width: 400px;
    color: var(--purple);
    border: var(--purple-light) 1px solid;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.link a {
    margin-top: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
}

.link a:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

/* Listing */
.listing {
    color: var(--purple-light);

}

/* Markdown */

.md {
    padding-left: 248px;
}

.md-code {
    background-color: #1C1C1C;
}

.md-code-block {
    background-color: #1C1C1C;
}

/* Menu */

.menu {
    border-right: var(--gold) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 200px;
    position: fixed;
    padding: 4px;
    top: 180px;
    left: 32px;
}

.menu>a {
    color: var(--gold);
    text-decoration: none;
}

.menu-main {
    font-size: 32px;
    padding: 2px;
}

.menu-sub {
    font-size: 24px;
    padding: 4px;
}


/* Navbar */
.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: flex-end;
    position: fixed;
    right: 2em;
    top: 1em;
}

.nav-link {
    padding-bottom: 6px;
    position: relative;
    width: max-content;
}

.nav-link::after {
    background: var(--purple-light);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.nav-link a {
    color: var(--purple);
    font-size: 32px;
    margin-right: 8px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-link>[aria-current="page"] {
    color: var(--gold);
    pointer-events: none;
}

.nav-link a:hover {
    cursor: pointer;
    color: var(--gold-light);
}

.nav-link>span {
    color: grey;
    font-size: 1.2rem;
}

.nav-link .selected {
    color: white;
    font-size: 1.6rem;
}

.search {
    background-color: var(--bg-color);
    border: 2px solid var(--gold);
    border-radius: 8px;
    color: var(--gold-light);
    font-size: 2rem;
    padding: 16px;
    width: 50vw;
    height: 2rem;
}

.search:focus-visible {
    outline: none;
    outline-color: var(--bg-color);
}

.search-group {
    position: relative;
    width: max-content;
}

.search-label {
    background-color: var(--bg-color);
    color: var(--gold);
    user-select: none;
    top: -1rem;
    left: 1rem;
    height: min-content;
    padding: 4px;
    position: absolute;
    width: min-content;
    z-index: 1;
}

/* Section */
.title+.section {
    padding-left: 36px;
}

/* Titles and Headers */
.title {
    margin-bottom: 24px;
}

.title+.title {
    margin-top: 48px;
}
