:root {
    --bg-color: #1C1C1C;

    --gold: #DBA453;
    --gold-light: #FFCC84;

    --purple: #8484FF;
    --purple-light: #BEBAFF;

    --base-color: #FFFFFF;

    --shadow: #000000;

    --prm-sec-gradient: linear-gradient(180deg, var(--purple) 35%, var(--gold) 90%);
}

/* Body */
body {
    background-color: var(--bg-color);
    color: var(--base-color);
    font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

/* Code */
code {
    color: var(--gold-light);
    white-space: pre;
}

/* Header */
h1 {
    color: var(--gold);
    font-size: 108px;
}

h2 {
    color: var(--purple-light);
    font-size: 96px;
}

h3 {
    color: var(--purple);
    font-size: 72px;
}

h4 {
    color: var(--gold);
    font-size: 64px;
}

h5 {
    color: var(--purple-light);
    font-size: 48px;
}

h6 {
    color: var(--purple);
    font-size: 36px;
}

main {
    padding-left: 48px;
}

section {
    color: var(--base-color);
    font-size: 24px;
}
